.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}

.main-header .navbar {
  transition: margin-left 1s;
  transition-timing-function: ease-in;
  border: none;
  margin-left: 230px;
}

/*
.main-header .navbar:hover {
  margin-left: 0px;
}
*/

.main-header .sidebar-toggle::before {
  content: "\f0c9";
  font-family: FontAwesome;
}
