.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}

.main-header .logo {
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  float: left;
  padding: 0px 15px;
  width: 150px;
  text-align: center;
  background-color: #ff9dae;
  transition: transform 400ms ease-in;
  transform: translateX(0px);
}

.main-header .logo.normal {
}

.main-header .logo.collapsed {
  width: 50px;
}

.main-header .navbar {
  transition: margin-left 1s;
  transition-timing-function: ease-in;
  border: none;
  margin-left: 150px;
  background-color: pink;
}

.main-header .navbar.collapsed {
  margin-left: 50px;
}

.main-header .navbar-custom-menu {
  float: right;
  margin-right: 20px;
}

.main-header .navbar::before,
.main-header .navbar::after {
  display: table;
  content: " ";
}

.main-header .navbar::after {
  clear: both;
}

.main-header .nav::before,
.main-header .nav::after {
  display: table;
  content: " ";
}

.main-header .nav::after {
  clear: both;
}

.main-header .navbar-nav {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 0;
}

.main-header .navbar-nav li {
  float: left;
}

.main-header .navbar-nav li>a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-header .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

.main-header .sidebar-toggle {
  float: left;
  padding: 15px 15px;
}

.main-header .sidebar-toggle::before {
  content: "\f0c9";
  font-family: FontAwesome;
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}
