.main-sidebar {
  position: absolute;
  background-color: #222d32;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
  z-index: 810;
}

.sidebar {
  padding-bottom: 10px;
  height: auto;
}

.user-panel {
  padding: 10px;
  overflow: hidden;
}

.user-panel:before,
.user-panel:after {
  content: " ";
  display: table;
}

.user-panel>.image>img {
  width: 100%;
  max-width: 45px;
}

.user-panel>.info {
  color: #fff;
}

.user-panel>.info a {
  color: #fff;
}

.text-success {
  color: #3c763d;
  margin-right: 3px;
}

.img-circle {
  border-radius: 50%;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}

.sidebar-form input[type="text"]{
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
  box-sizing: border-box;
  border-collapse: separate;
}

#search-btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 39px;
}

.sidebar-menu {
  white-space: nowrap;
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0;
}

.sidebar-menu>li>a {
  padding: 12px 5px 12px 15px;
  display: block;
}

.sidebar-menu>li.header {
  color: #4b646f;
  background: #1a2226;
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}

.sidebar-menu>li.active>a {
  border-left-color: #3c8dbc;
}

.sidebar-menu>li.menu-open>a {

}
